<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /mix/mixsln/devel/demo/webapp

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
