html, body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

ul, ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

body * {
    -webkit-text-size-adjust:none;
    /*-webkit-user-select: none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
