html,body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width:100%;
    height:100%;
}

body {
}
* {
    -webkit-text-size-adjust:none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.title-bar 
{
    font-size:40px;
    font-weight:bold;
    color:white;
    text-shadow: rgba(0,0,0,0.4) 0 -2px 1px;
    text-align:center;
    -webkit-box-shadow:inset 0 1px 1px white;
    background: -webkit-linear-gradient(top,rgb(110,132,161) 0%,rgb(137,155,178) 50%,rgb(127,148,176) 50%,rgb(180,191,205) 100%);
    /*border-bottom:solid 2px rgb(33,39,48);*/
    height:86px;
    line-height:86px;
}
.back-button 
{
    display:inline-block;
    position:absolute;
    vertical-align:middle;
    height:60px;
    border:none;
    width:101px;
    margin-top:13px;
    margin-bottom:13px;
    background-color:Transparent;
    background: -webkit-linear-gradient(top,rgb(74,108,155) 0%,rgb(72,106,154) 50%,rgb(88,119,162) 51%,rgb(137,160,190) 100%);
    font-size:24px;
    font-weight:bold;
    color:white;
    left:0px;
    border-bottom:solid 1px rgb(55,80,117);
    border-top:solid 1px rgb(48,54,62);
    border-right:solid 1px rgb(48,54,62);
    text-shadow: rgba(0,0,0,0.4) 0 -2px 1px;
    margin-left:35px;
    -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.6);
    border-top-right-radius:9px;
    border-bottom-right-radius:9px;
}

.back-button::before
{
    content: "";
    height:61px;
    display:block;
    position:absolute;
    left:-29px;
    top:-1px;
    width:29px;
    margin-top:0px;
    margin-bottom:0px;
    background-color:Transparent;
    background-image:url('data:image/svg+xml;utf8,<svg height="61" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><g><defs><linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%"><stop offset="0%" stop-color="rgb(74,108,155)"/><stop offset="50%" stop-color="rgb(72,106,154)"/><stop offset="51%" stop-color="rgb(88,119,162)"/><stop offset="100%" stop-color="rgb(137,160,190)"/></linearGradient><linearGradient id="gradient2" x1="0%" y1="100%" x2="0%" y2="0%"><stop offset="0%" stop-color="rgb(55,80,117)"/><stop offset="69%" stop-color="rgb(55,80,117)"/><stop offset="100%" stop-color="rgb(48,54,62)"/></linearGradient><filter id="Gaussian_Blur"><feGaussianBlur in="SourceGraphic" stdDeviation="1" /></filter></defs><path fill="white" style="stroke-width:1;filter:url(#Gaussian_Blur)"  d="M0 31 C 24 2 27 2 30 2 L100 2 L100 60 L30 60 C27 60 24 60 0 31 Z" /><path fill="url(#gradient1)" stroke="url(#gradient2)" style="stroke-width:1;" d="M0 30 C 24 0 27 0 30 0 L30 59 C27 59 24 59 0 30" /></g></svg>');
    font-size:24px;
    font-weight:bold;
    color:white;
    text-shadow: rgba(0,0,0,0.4) 0 -2px 1px;
}
.title-bar .button {
    //display:inline-block;
    position:absolute;
    right:10px;
    vertical-align:middle;
    height:60px;
    line-height:60px;
    border:none;
    width:101px;
    margin-top:13px;
    margin-bottom:13px;
    background-color:Transparent;
    background: -webkit-linear-gradient(top,rgb(74,108,155) 0%,rgb(72,106,154) 50%,rgb(88,119,162) 51%,rgb(137,160,190) 100%);
    font-size:24px;
    font-weight:bold;
    color:white;
    border-bottom:solid 1px rgb(55,80,117);
    border-top:solid 1px rgb(48,54,62);
    border-left: solid 1px rgb(55,80,117);
    border-right:solid 1px rgb(48,54,62);
    text-shadow: rgba(0,0,0,0.4) 0 -2px 1px;
    margin-left:35px;
    -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.6);
    border-radius:9px;
}
